# Generate AUTHORS: scripts/generate-authors.sh

# Tip for finding duplicates (besides scanning the output of AUTHORS for name
# duplicates that aren't also email duplicates): scan the output of:
#   git log --format='%aE - %aN' | sort -uf
#
# For explanation on this file format: man git-shortlog

Aaron L. Xu <likexu@harmonycloud.cn>
Akihiro Suda <akihiro.suda.cz@hco.ntt.co.jp>
Akihiro Suda <akihiro.suda.cz@hco.ntt.co.jp> <suda.kyoto@gmail.com>
Akihiro Suda <akihiro.suda.cz@hco.ntt.co.jp> <suda.akihiro@lab.ntt.co.jp>
Allen Sun <allen.sun@daocloud.io>
Bin Liu <liubin0329@gmail.com>
Daniel Nephin <dnephin@gmail.com>
Daniel Nephin <dnephin@gmail.com> <dnephin@docker.com>
Fernando Miguel <github@FernandoMiguel.net>
Fernando Miguel <github@FernandoMiguel.net> <FernandoMiguel@users.noreply.github.com>
Helen Xie <chenjg@harmonycloud.cn>
Himanshu Pandey <hpandey@pivotal.io>
Hiromu Nakamura <abctail30@gmail.com>
Jessica Frazelle <acidburn@microsoft.com>
Jessica Frazelle <acidburn@microsoft.com> <acidburn@docker.com>
Natasha Jarus <linuxmercedes@gmail.com>
Sebastiaan van Stijn <github@gone.nl>
Sebastiaan van Stijn <github@gone.nl> <thaJeztah@users.noreply.github.com>
Tibor Vass <tibor@docker.com>
Tibor Vass <tibor@docker.com> <tiborvass@users.noreply.github.com>
Tomohiro Kusumoto <zabio1192@gmail.com>
Tõnis Tiigi <tonistiigi@gmail.com>
Vincent Demeester <vincent.demeester@docker.com>
Vincent Demeester <vincent.demeester@docker.com> <vincent@sbr.pm>
Ziv Tsarfati <digger18@gmail.com>
Ziv Tsarfati <digger18@gmail.com> <digger18@users.noreply.github.com>
郑泽宇 <perhapszzy@sina.com>
