[Unit]
Description=BuildKit
Documentation=https://github.com/moby/buildkit

[Service]
Type=notify
NotifyAccess=all
ExecStart=rootlesskit /usr/local/bin/buildkitd --addr unix://%t/buildkit/rootless

[Install]
WantedBy=multi-user.target
